name: Check Code Format

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: develop
      - uses: subosito/flutter-action@v2.3.0
        with:
          flutter-version: '3.13.3'
          
      - name: Install packages
        run: flutter pub get
        
      - name: Run Build Runner
        run: dart run build_runner build --delete-conflicting-outputs
        
      - name: Check format
        run: dart format . --set-exit-if-changed
        
      - name: Check lint
        run: flutter analyze .
