name: Hello World

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: develop
      - uses: subosito/flutter-action@v2.3.0
        with:
          flutter-version: '3.13.3'
          
      - name: Install packages
        run: flutter pub get
        
      - name: Run Build Runner
        run: dart run build_runner build --delete-conflicting-outputs
        
      - name: Check format
        run: dart format . --set-exit-if-changed
        
      - name: Check lint
        run: flutter analyze .
        
      - name: Download Android keystore
        id: android_keystore
        uses: timheuer/base64-to-file@v1.2.4
        with:
          fileName: upload-keystore.jks
          encodedString: ${{ secrets.KEYSTORE_BASE64 }}
          
      - name: Create key.properties
        run: |
          echo "storeFile=${{ steps.android_keystore.outputs.filePath }}" > android/key.properties
          echo "storePassword=${{ secrets.STORE_PASSWORD }}" >> android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: "17"
          cache: gradle

      - name: Start Android Release Build
        run: flutter build appbundle --release --dart-define-from-file=dart_defines/prod.json

      - name: Upload Android Release
        uses: actions/upload-artifact@v4.3.0
        with:
          name: android-release
          path: build/app/outputs/bundle/release/app-release.aab

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # モジュールのダウンロード
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: android-release

      # Firebase にデプロイ
      - name: Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.7.0
        with:
          appId: ${{secrets.FIREBASE_APP_ID_ANDROID}}
          serviceCredentialsFileContent: ${{ secrets.FIREBASE_CREDENTIAL_FILE_CONTENT }}
          groups: testers
          file: android-release/app-release.aab
