name: Hello World

on: 
  workflow_dispatch:

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello World!"
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2.3.0
        with:
          flutter-version: '3.13.3'
      - name: Install packages
        run: flutter pub get
      - name: Run Build Runner
        run: make gen
      - name: Check format
        run: dart format . --set-exit-if-changed
