name: Sample

on: 
  workflow_dispatch:

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - name: make artifact dir
        run: mkdir /home/runner/work/artifact
      - name: make file
        run: echo hello > /home/runner/work/artifact/sample.txt
      - name: Upload Android Release
        uses: actions/upload-artifact@v4.3.0
        with:
          name: sample
          path: /home/runner/work/artifact/sample.txt
          
  deploy:
    needs: [say_hello]
    runs-on: ubuntu-latest
    steps:
      # モジュールのダウンロード
      - name: Download artifact
        id: sample
        uses: actions/download-artifact@v4
        with:
          name: sample
      - name: print
        run: echo ${{steps.sample.outputs.download-path}}
