name: Sample

on: 
  pull_request:
    types: [closed]

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get Issues Title
        run: |
          PR_NUMBER=$(gh pr view --json number -q '.number')
          ISSUES_TITLE=$(gh issue view $PR_NUMBER --json title -q '.title')

          echo "Issues Title: $ISSUES_TITLE"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
